{
  "name": "fr.privcloud.companion",
  "description": "PrivCloud Companion native host",
  "path": "__COMPANION_PATH__",
  "type": "stdio",
  "allowed_origins": [
    "chrome-extension://__CHROME_EXTENSION_ID__/"
  ]
}
